<% admin_title("Pages", "ls-ico-text") %>

<%= link_to 'New Page', new_admin_page_path, class: "ls-btn-primary" %>

<table class="ls-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.id %></td>
        <td><%= page.name %></td>
        <td>
          <%= link_to "edit", edit_admin_page_path(page), class: "ls-ico-pencil" %> |
          <%= link_to "delete", admin_page_path(page), method: :delete, data: { confirm: "Are you sure?" }, class: "ls-ico-remove" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
