%h2= t(:title, scope: [:registration, :create])

- flash.each do |type, message|
  %p.message{:class => type}= message

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|

  = devise_error_messages!

  = f.input :name
  = f.input :email
  = f.input :url
  = f.input :password
  = f.input :password_confirmation
  .submit
    = f.submit t(:submit, scope: [:registration, :create])

  = render "devise/shared/links"
