<% title @page, 'ls-ico-globe' %>

<div class="ls-box">
  <h2 class="ls-title-3"><%= t('.pages') %></h2>
  <table class="ls-table">
    <thead>
      <tr><th>Nome</th></tr>
    </thead>
    <tbody>
      <tr><td><%= link_to 'Artigos', root_path %></td></tr>
      <tr><td><%= link_to 'Sobre o autor', page_path('sobre-o-autor') %></td></tr>
      <tr><td><%= link_to 'Contato',       new_contact_path %></td></tr>
      <tr><td><%= link_to 'Sitemap',       sitemap_path %></td></tr>
    </tbody>
  </table>
</div>

<div class="ls-box">
  <h2 class="ls-title-3"><%= t('.categories') %></h2>
  <table class="ls-table">
    <thead>
      <tr><th>Nome</th></tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <tr><td><%= link_to category.name, category_path(category.permalink) %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="ls-box">
  <h2 class="ls-title-3"><%= t('.posts') %></h2>
  <table class="ls-table">
    <thead>
      <tr><th>Nome</th></tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr><td><%= link_to post.name, post.path %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>
