%h2= t(:forgot)

- flash.each do |type, message|
  %p.message{:class => type}= message

= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :validate => true) do |f|
  = devise_error_messages!

  = f.input :email
  .submit
    = f.submit t(:submit, scope: [:password, :create])

  = render "devise/shared/links"
