<% title @page, 'ls-ico-envelope' %>

<%= textilize(@page.body) %>

<%= form_for @contact, html: { id: "contact",  class: "ls-form" } do |f| %>
  <fieldset>
    <label class="ls-label <%= f.error_class :name %>">
      <b class="ls-label-text">Nome</b>
      <%= f.text_field :name %>
      <%= f.errors_for :name %>
    </label>

    <label class="ls-label <%= f.error_class :email %>">
      <b class="ls-label-text">Email</b>
      <%= f.text_field :email %>
      <%= f.errors_for :email %>
    </label>

    <label class="ls-label <%= f.error_class :body %>">
      <b class="ls-label-text">Mensagem</b>
      <%= f.text_area :body, rows: 8 %>
      <%= f.errors_for :body %>
    </label>

    <%= f.submit t('.send'), class: "ls-btn-primary", data: { disable_with: t('.sending') } %>
  </fieldset>
<% end %>
