<%= form_for([:admin, @post], html: {class: "ls-form"}) do |f| %>
  <fieldset>
    <label class="ls-label <%= f.error_class :name %>">
      <b class="ls-label-text">Name</b>
      <%= f.text_field :name %>
      <%= f.errors_for :name %>
    </label>

    <label class="ls-label">
      <b class="ls-label-text">Summary</b>
      <%= f.text_area :summary, rows: "8" %>
    </label>

    <label class="ls-label <%= f.error_class :body %>">
      <b class="ls-label-text">Body</b>
      <%= f.text_area :body, rows: "20", class: 'ls-textarea-resize-vertical' %>
      <%= f.errors_for :body %>
    </label>

    <div class="ls-label">
      <label class="ls-label-text"><%= f.check_box :active %> Active</label>
    </div>

    <div class="ls-label">
      <label class="ls-label-text"> Categories</label>
      <% Category.all.each do |category| %>
        <label class="ls-no-bold"><%= check_box_tag "post[category_ids][]", category.id, @post.categories.include?(category) %> <%= category.name %></label>
      <% end %>
    </div>

    <%= render 'meta_tags', f: f, hide_title: true %>

    <%= f.submit 'Send', class: "ls-btn-primary", data: { disable_with: 'Sending ...' } %>
    <%= link_to 'Cancel', admin_posts_path, class: "ls-btn" %>
  </fieldset>
<% end %>
