<% admin_title("Posts", "ls-ico-home") %>

<%= link_to 'New Post', new_admin_post_path, class: "ls-btn-primary" %>

<table class="ls-table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Active</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.id %></td>
				<td><%= post.name %></td>
				<td><%= post.active? %></td>
				<td>
					<%= link_to "edit", edit_admin_post_path(post), class: 'ls-ico-pencil' %> |
					<%= link_to "delete", admin_post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: 'ls-ico-remove' %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
