- if collection.present?
	%table.table
		%thead
			%tr
				%th.first ID
				%th= resource_class.human_attribute_name(:name)
				%th.last &nbsp;
		%tbody
			- collection.each do |object|
				%tr
					%td= object.id
					%td= object.name
					%td.last
						= link_to t("web-app-theme.edit"), edit_resource_path(object)
						|
						= link_to t("web-app-theme.delete"), resource_path(object), :method => :delete, :confirm => t("web-app-theme.confirm")

- else
	= render "defaults/no_results"

- data_table