<% unless defined?(hide_title) %>
  <label class="ls-label <%= f.error_class :page_title %>">
    <b class="ls-label-text">Page Title</b>
    <%= f.text_field :page_title %>
    <%= f.errors_for :page_title %>
  </label>
<% end %>

<label class="ls-label <%= f.error_class :keywords %>">
  <b class="ls-label-text">Keywords</b>
  <%= f.text_field :keywords %>
  <%= f.errors_for :keywords %>
</label>

<label class="ls-label <%= f.error_class :page_body %>">
  <b class="ls-label-text">Page Body</b>
  <%= f.text_area :page_body, rows: "4" %>
  <%= f.errors_for :page_body %>
</label>
