<%= form_for([:admin, @category], html: { class: "ls-form" }) do |f| %>
  <fieldset>
    <label class="ls-label <%= f.error_class :name %>">
      <b class="ls-label-text">Name</b>
      <%= f.text_field :name %>
      <%= f.errors_for :name %>
    </label>

    <%= render 'meta_tags', f: f %>

    <%= f.submit 'Send', class: "ls-btn-primary", data: { disable_with: 'Sending ...' } %>
    <%= link_to 'Cancel', admin_categories_path, class: "ls-btn" %>
  </fieldset>
<% end %>
