<% admin_title("Categories", "ls-ico-flag") %>

<%= link_to 'New Category', new_admin_category_path, class: "ls-btn-primary" %>

<table class="ls-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.id %></td>
        <td><%= category.name %></td>
        <td>
          <%= link_to "edit", edit_admin_category_path(category), class: "ls-ico-pencil" %> |
          <%= link_to "delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure?" }, class: "ls-ico-remove" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
