.post
	= render :partial => "posts/date", :locals=> { :post => post }
	%h2= link_to post.name, post.path, :title => post.name, :rel => "bookmark"
	= strip_markdown(post.summary)
	.cat_tags.clear
		%span.category
			= link_categories(post.categories)
		%span.continue= link_to pluralize(post.comments.size, t(:one, :scope => :comments), t(:other, :scope => :comments)), "#{post.path}#comments", :class => "nr_comm_spot"
		.clear
	.cat_tags_close
