- content_for :navigation do
	%li.first= link_to t("web-app-theme.list"), collection_path
	%li= link_to t("web-app-theme.new"), new_resource_path

- admin_title "#{t("web-app-theme.edit")} #{resource_class.model_name.human}"

= simple_form_for(resource, :url => resource_path, :validate => true, :html => { :method => :put }) do |f|
	= f.error_messages
	= render "form", :f => f

	%div.submit
		= f.submit t("web-app-theme.save")
		= link_to t("web-app-theme.cancel"), collection_path
