%html
	%head
		%title= admin_page_title

		%meta(http-equiv="content-type" content="text/html; charset=UTF-8")
		%meta(http-equiv="content-language" content="en")
		%meta(name="author" content="Marcio Trindade")
		%meta(name="distribution" content="global")
		%meta(name="revisit-after" content="30 days")
		%meta(name="copyright" content="marciotrindade.com")
		= csrf_meta_tag

		%link(href="/favicon.ico" type="image/x-icon" rel="icon")
		%link(href="/favicon.ico" type="image/x-icon" rel="shortcut icon")

		= stylesheet_link_tag "admin/application"
		= yield :css

	%body

		%div#header
			%h1= link_to AppConfig.site.name, root_url
			%div#nav
				%ul
					%li= link_to t(:home), root_path
					%li= link_to t(:logout), destroy_user_session_path

		%div.flash
			- flash.each do |type, message|
				%p.message{:class => type}= message

		%div#breadcrumb
			= breadcrumb

		%div#c
			%table
				%tr
					%td.aside
						%h3.top Menu
						%div.block
							%ul.navigation
								%li= link_to t(:post, :scope => :menu), admin_posts_path
								%li= link_to t(:category, :scope => :menu), admin_categories_path
								%li= link_to t(:page, :scope => :menu), admin_pages_path
								%li= link_to t(:user, :scope => :menu), admin_users_path
								%li= link_to t(:role, :scope => :menu), admin_roles_path
						%h3.top Menu
						%div.block
							%ul.navigation
								%li= link_to t(:comment, :scope => :menu), admin_comments_path
								%li= link_to t(:contact, :scope => :menu), admin_contacts_path

					%td#main
						%div.top
							%ul#sub_nav
								= yield(:navigation)

						%div.block
							%div.content
								%h2.title= yield(:title)
								= yield
								%div.clear

			%div#footer
				%p Copyright &copy; #{Date.today.year} #{link_to("Marcio Trindade", "http://marciotrindade.com")}.

	= javascript_include_tag "admin/application"
	= yield :js
