<!DOCTYPE html>
<html lang="pt-br" class="" ng-app="Application">
<head>
	<%= yield(:head) %>
	<meta charset="utf-8">
	<meta content="chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="C50914221BE3C76FE4370CF3DA977E81" name="msvalidate.01" />
	<meta content="Marcio Trindade" name="author" />
	<meta content="global" name="distribution" />
	<meta content="5 days" name="revisit-after" />
	<meta content="Marcio Trindade" name="copyright" />
	<link href="/favicon.ico" rel="icon" type="image/x-icon" />
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://assets.locaweb.com.br/locastyle/edge/stylesheets/locastyle.css">
	<%= stylesheet_link_tag :application %>
</head>

<body ng-controller="ApplicationController">
	<!-- Header -->
	<header class="header" role="banner">
		<div class="container">
			<span class="control-menu visible-xs ico-menu-2"></span>
			<span class="control-sidebar visible-xs ico-list"></span>
			<h1 class="project-name">{{ project.name }}</h1>
			<%= link_to t(".subscribe"), feed_url, class: "help-suggestions hidden-xs" %>
		</div>
	</header>

	<!-- Menu -->
	<div class="nav-content">
		<menu class="menu">
			<ul class="container">
				<li class=""><a class="ico-home" href="/"                    role="menuitem" title="{{ menu.home }}">{{ menu.home }}</a></li>
				<li class=""><a class=""         href="/pages/sobre-o-autor" role="menuitem" title="{{ menu.about }}">{{ menu.about }}</a></li>
				<li class=""><a class=""         href="/contacts/new"        role="menuitem" title="{{ menu.contact }}">{{ menu.contact }}</a></li>
				<li class=""><a class=""         href="/sitemap"             role="menuitem" title="{{ menu.sitemap }}">{{ menu.sitemap }}</a></li>
			</ul>
		</menu>
	</div>

	<!-- Content -->
	<main class="main" id="main">
		<div class="container">
			<div class="row">
				<div class="col-md-9 content" role="main">
					<ng-view></ng-view>
				</div>

				<aside class="col-md-3 sidebar" role="complementary">
					<section class="sidebox" ng-controller="CategoriesController">
						<h1 class="sidebox-title ico-tag">{{ title }}</h1>

						<ul class="sidebox-list">
							<li ng-repeat="category in categories">
								<a href='/categories/{{category.permalink}}'>{{category.name}} ({{category.posts_count}})</a>
							</li>
						</ul>
					</section>

					<section class="sidebox" ng-controller="ArchiveController">
						<h1 class="sidebox-title ico-drawer-3">{{ title }}</h1>

						<ul class="sidebox-list">
							<li ng-repeat="post in posts">
								<a href='{{post.path}}'>{{ post.label }} ({{ post.total }})</a>
							</li>
						</ul>
					</section>
				</aside>
			</div>
		</div>
	</main>

	<!-- Footer -->
	<footer class="footer">
		<div class="footer-menu">
			<nav class="container">
				<h2 class="title-footer"><%= t('.footer.title') %></h2>
				<ul class="no-liststyle">
					<li><a href="/contacts/new" class="bg-customer-support"><span class="visible-lg"><%= t('.footer.contact') %></span></a></li>
				</ul>
			</nav>
		</div>
		<div class="container footer-info">
			<p class="copy-right">Copyright © <%= Date.today.year %> <%= AppConfig.site.name %>.</p>
		</div>
	</footer>

	<!-- Scripts -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="http://assets.locaweb.com.br/locastyle/edge/javascripts/locastyle.js"></script>
	<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
	<%= javascript_include_tag :application %>
</body>
</html>
